<!DOCTYPE html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--nav bar-->
    <div class="dropdown  justify-content-center">    
        <nav th:fragment="navFragment" class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#" id="home">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#" role="button">
                  Recensioni
                </a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Viaggi
                </a>
              </li>
              <li class="nav">
                <p th:text="Ciao ${nome}"></p>
              </li>
            </ul>
          </div>
        </div>
      </nav>                    
    </div>
    <!--Fine nav bar-->

    <!--footer-->
    <footer th:fragment="footerFragment">
        <div class="row" id="footer">
            <div class="col-4">
                <h5>Contatti</h5>
            </div>
            <div class="col-4">

            </div>
            <div class="col-4">

            </div>
        </div>
      </footer>    
</body>
</html>