#fotoHome{
    width: 100%;
}

.aside {
    width: 300px;
    height: auto;
    margin: 20px;
}

#centro {
    margin-top: 20px;
}

.imgCaricata {
    width: 50px;
}
#footer{
    background-color: rgb(40, 39, 39);
    color: white;
}