#fotoHome{
    width: 100%;
}

.aside {
    width: 80%;
    height: auto;
    padding: 1%;
}
#asideDestra{
    padding-left: 2%;
    padding-right: 2%;
}

#asideSinistra{
    padding-left: 2%;
    padding-right: 2%;
}

#centro {
    margin-top: 20px;
}

#centroAdmin{
    margin-bottom: 200px;
}

.imgCaricata {
    width: 50px;
}
#footer{
    background-color: rgb(40, 39, 39);
    color: white;
    padding: 20px;
}

section{
    text-align: center;
}

input{
    margin: 2px;
}

form {
    text-align: left;
}
.titoloTabella{
    text-align: center;
}
.container{
    background-color: rgb(211, 211, 211);
}

#popup{
	width: 100%;
	height: auto;
	background-color: rgb(255, 0, 0);
}
.titoloFooter{
    margin-bottom: 10px;
}