#fotoHome{
    width: 100%;
}

.asideDestra{
    padding-left: 2%;
    padding-right: 2%;
    width: 80%;
    height: auto;
    padding: 0%;
    margin: 3%;
    transition: box-shadow 1s;
}

.asideSinistra{
    padding-left: 2%;
    padding-right: 2%;
    width: 80%;
    height: auto;
    padding: 0%;
    margin: 3%;
    transition: box-shadow 1s;
}
aside{
    padding-top: 2%;
    padding-bottom: 2%;
}

#centro {
    margin-top: 20px;
}

#centroAdmin{
    margin-bottom: 200px;
}

.imgCaricata {
    width: 50px;
}
#footer{
    background: linear-gradient(to top, #282727 0%, #606060 100%);
    color: white;
    padding: 20px;
}

section{
    text-align: center;
}

input{
    margin: 2px;
}

form {
    text-align: left;
}
.container{
    background-color: rgb(211, 211, 211);
}
