#fotoHome{
    width: 100%;
}

.aside {
    width: 300px;
    height: auto;
    margin: 20px;
    margin-left: 0px;
}

#centro {
    margin-top: 20px;
}

#centroAdmin{
    margin-bottom: 200px;
}

.imgCaricata {
    width: 50px;
}
#footer{
    background-color: rgb(40, 39, 39);
    color: white;
    padding: 20px;
}

section{
    text-align: center;
}

input{
    margin: 2px;
    width: 50px;
}

form {
    text-align: left

}

textarea{
    width: 200px;
    height: 100px;
    resize: none;
}
#btn{
    width: 100px;
}
.container{
    background-color: rgb(211, 211, 211);
}