#fotoHome{
    width: 100%;
}

.aside {
    width: 70%;
    height: auto;
    margin-top: 35px;
    transition: box-shadow 1s;
}
aside{
    padding-bottom: 30px;
}

#centro {
    margin-top: 20px;
}

#centroAdmin{
    margin-bottom: 200px;
}

.imgCaricata {
    width: 50px;
}

#team {
	border-radius: 10px;
	width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 75%;
}

#footer{
    background: linear-gradient(to top, #282727 0%, #606060 100%);
    color: white;
    padding: 20px;
}

section{
    text-align: center;
}

input{
    margin: 2px;
}

form {
    text-align: left;
}
.container{
    background: linear-gradient(to top, #b5b5b5 0%, #e5e5e5 100%);
}