#fotoHome{
    width: 100%;
}

.aside {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#banner {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#col-10 {
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#col-10-2 {
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


#messaggio {
    resize: none;
    height: 200px;
    width: 500px;
}

.card-text1 {
    text-align: justify !important;
}

.card {
	background-color: white;
	border: 1px solid grey !important;
	border-radius: 10px;
}

#border {
	border: 2px solid black !important;
	border-radius: 15px;
	margin-bottom: 10px;
	background-color: rgb(225, 225, 225);
}

#nome {
	width: 500px;
}

#cognome {
	width: 500px;
}

#telefono {
    width: 500px;
}

#email {
    width: 500px;
}

#centro {
    margin-top: 20px;
}

#centroAdmin{
    margin-bottom: 200px;
}

.imgCaricata {
    width: 50px;
}

#footer{
    background-color: rgb(40, 39, 39);
    color: white;
    padding: 20px;
}

section{
    text-align: center;
}

input{
    margin: 2px;
}

form {
    text-align: left;
    padding-top: 13px;
}
.container{
    background-color: rgb(211, 211, 211);
}