#fotoHome{
    width: 100%;
}

.aside {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: box-shadow 1s;
}

#banner {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

#col-10 {
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#col-10-2 {
	padding: 10px;
	margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}


#messaggio {
    resize: none;
    height: 200px;
    width: 100%;
}

.card-text1 {
    text-align: justify !important;
}

.card {
	background-color: white;
	border: 1px solid grey !important;
	border-radius: 10px;
}

#border {
	border: 2px solid black !important;
	border-radius: 15px;
	margin-bottom: 10px;
	background-color: rgb(225, 225, 225);
}

#nome {
	width: 100%;
}

#cognome {
	width: 100%;
}

#telefono {
    width: 100%;
}

#email {
    width: 100%;
}

#centro {
    margin-top: 20px;
}

#centroAdmin{
    margin-bottom: 200px;
}

.imgCaricata {
    width: 50px;
}

#footer{
	background: linear-gradient(to top, #282727 0%, #606060 100%);
    color: white;
    padding: 20px;
}

section{
    text-align: center;
}

input{
    margin: 2px;
}

form {
    text-align: left;
    padding-top: 13px;
}
.container{
    background: linear-gradient(to top, #b9b9b9 0%, #e5e5e5 100%);
}