#fotoHome{
    width: 100%;
}
.aside {
    width: 300px;
    height: auto;
    margin: 20px;
}
#centro {
    margin-top: 20px;
}
#centroAdmin{
    margin-bottom: 100px;
}
.imgCaricata {
    width: 50px;
}
#footer{
    background: linear-gradient(to top, #282727 0%, #606060 100%);
    color: white;
    padding: 20px;
}
section{
    text-align: center;
}
input{
    margin: 1px;
}
form {
    text-align: left;
    padding: 2px;
    margin-bottom: 100px;
}
span{
	font-size: 16px;
}
.container{
    background: linear-gradient(to top, #b9b9b9 0%, #e5e5e5 100%);
}
#popup{
	width: auto;
	height: auto;
	background-color: rgba(255, 0, 0, 0.7);
    vertical-align: middle;
}