<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" th:href="@{/static/css/admin.css}">
</head>

<body>
    <div class="container p-0">
        <header>
            <div class="row">
                <div class="col-12" th:replace="../template/template :: header"></div>
            </div>
        </header>
        <div class="row" id="menu">
            <!--Menu-->
            <div class="col-12" id="menu">
                <nav th:replace="../template/template :: navFragment"></nav>
            </div>
        </div>
        <section>
            <div class="row">
                <aside class="col-4 text-start">
	                <h3>Area Admin</h3>
	                    
                    <p><Strong>Titolo:</Strong> </p> <span th:text="${recensione.titolo}"></span>
                    
                    <p><Strong>Destinazione:</Strong> </p> <span th:text="${recensione.destinazione}"></span>
                    
                    <p><Strong>Descrizione</Strong> </p><br/>
                    
                    <p th:text="${recensione.descrizione}"></p>
                    
                    <!--  Aggiungere parte foto -->
                    <form method="GET" action="area_admin2/cambioStato?id=${recensione.id}">
                        
                        <label for="checkbox">Pubblicare: </label><br/>
                        <input type="radio" id="pubblicare" name="pubblicare" value="Pubblicare" required>
                        <label for="pubblicare">Si</label><br>
                        <input type="radio" id="Non pubblicare" name="pubblicare" value="Non pubblicare" required>
                        <label for="Non pubblicare">No</label><br>
				
                        <input type="submit" class="btn btn-primary"/><!-- conferma invio pubblicazione -->
                        <br>
                        <br>
                	</form>
                </aside><!--asideSinistra-->
                <div class="col-4" id="centroAdmin">
                    <table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th th:text="#{label.titolo}"></th>
								<th th:text="#{label.destinazione}"></th>
								<th th:text="#{label.username}"></th>
								<th th:text="#{label.durata}"></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="r : ${recensioni}">
								<td th:text="${r.titolo}"></td>
								<td th:text="${r.destinazione}"></td>
								<td th:text="${r.account.username}"></td>
								<td th:text="${r.durata}"></td>
								<td class="text-end">
									<a th:href="@{/area_admin2(id=${o.id})}" class="btn btn-primary btn-sm small-button" 
										th:text="#{btn.edit}"></a>
								</td>
							</tr>
						</tbody>
					</table>
            	</div>
            </div>
        </section>
        <footer th:replace="../template/template :: footerFragment"></footer>
        <script th:src="@{/static/javascript/index.js}"></script>
    </div>
</body>

</html>