<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Recensione</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/css/area_utente.css}"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div class="container p-0">
        <header>
            <div class="row">
                <header class="col-12" th:replace="../template/template :: header"></header>
            </div>
        </header>
        <div class="row" id="menu">
            <!--Menu-->
            <div class="col-12" id="menu">
                <nav th:replace="../template/template :: navFragment"></nav>
            </div>
        </div>
        <section>
            <div class="row" id="centro">
            	<div class="col-1"></div>
                <div class="col-10 text-start">
                    <div class="row">
                    	<div class="col-4">
                    		<label for="titolo"><strong th:text="#{label.titolo} + ': '"></strong></label>
                    		<span th:text="${recensione.titolo}"></span>
                    	</div>
                    	<div class="col-4">
                    		<label for="durata"><strong th:text="#{label.durata} + ': '"></strong></label>
                    		<span th:text="${recensione.durata} + ' giorni'"></span>
                    	</div>
                    	<div class="col-4">
                    		<span th:text="'Dal: ' + ${recensione.dataInizio} + ' al ' + ${recensione.dataFine}"></span>
                    	</div>
                    </div>
                    <br/>
                    <div th:if="${recensione.image}" class="row">
                    	<div class="image" th:each="img : ${images}">
                    		<div class="col-2"></div>
                    		<div class="col-10">
                    			<img class="img-fluid" th:src="@{'static/fotoRecensioni/' + ${img}}"/>
                    		</div>
                    	</div>
                    </div>
                    <br/>
                    <div class="row">
                    	<label for="descrizione"><strong th:text="#{label.descrizione} + ': '"></strong></label>
                    	<p id="descrizione" th:text="${recensione.descrizione}">
                    </div>            
                </div>
                <div class="col-1"></div>
            </div>
        </section>
        <footer th:replace="../template/template :: footerFragment"></footer>
        <script th:src="@{/static/javascript/index.js}"></script>
    </div>
</body>
</html>