<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Area utente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link rel="stylesheet" th:href="@{static/css/login.css}">
</head>

<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-12" th:replace="../template/template :: header"></div>
            </div>
        </header>
        <div class="row" id="menu">
            <!--Menu-->
            <div class="col-12" id="menu">
                <nav th:replace="../template/template :: navFragment"></nav>
            </div>
        </div>
        <section>
            <div class="row">
                <aside class="col-4"></aside><!--asideSinistra-->
                <div class="col-4" id="centro">                 
                    <form action="login" method="POST" ><!--login-->
                        <h3>Login</h3>
                        <hr>
                        <label for="username" th:text="#{label.username} + ':'"></label><br>
                        <input id="username" name= "username" type="text"><br/>
                        <p th:if="${usernameError}" th:text="#{error.usernameErrato}" class="text-danger"></p>
                        <br/>
                        
                        <label for="password" th:text="#{label.password} + ':'"></label><br>
                        <input id="password" name="password" type="password"><br/>
                        <p th:if="${passwordError}" th:text="#{error.passwordErrata}" class="text-danger"></p>
                        <br/>
                        
                        <input type="Submit" class="btn btn-primary small-button" th:value="#{btn.login}"><span>Non hai un account? <a th:href="@{/registrazione}"> Registrati qui! </a></span>
                    </form>
                    <br/>
                </div>
                <aside class="col-4"></aside>
            </div>
        </section>
        <footer th:replace="../template/template :: footerFragment"></footer>
        <script th:src="@{/static/javascript/index.js}"></script>
    </div>
</body>

</html>